# Notion API 인증 키
NOTION_API_KEY=your_notion_api_key

# 조회할 Notion 데이터베이스 ID
NOTION_DB_ID=your_notion_database_id

# Discord 여부 
DISCORD_ENABLED = true

# Discord URL
DISCORD_WEBHOOK_URL = your_discord_url




